/*  box-shadow: 6px 11px 35px 8px rgba(67,22,94,1);  */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body{
	 font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
	background: #f4f4eb;
	padding: 0px;
}
.img{
	width: 80%;
}
.content-wrap {
	 width: 100%;
     margin: 0 auto;
     overflow: hidden;
     text-align: center;
}
/* header */
header{
	position: relative;
	margin: 0;
}

.menu_bar{
	display: flex;
	flex-wrap: wrap;
	 width: 100%;
	 background: #f4f4eb;
	 position: fixed; 
	 top: 0;
	 box-shadow: 9px 4px 5px 0px rgba(206,223,235,1);
	  display: inline-block;
}
.bx{
	width: 100%;
}
.link{
	width: 75%;
	text-align: right;
}
.sidbarButton{
	width: 25%;
}

.link a{
	
	background: #000000;
	color: #ffffff;
	border: 1px solid black;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    padding: 10px 5px; 
    font-size: 70%;
    margin: 0px;
}

.profile-id{
	padding-top: 50px;
}
.profile-id img{
	width: 80%;
	border-radius: 45%;
	padding: 15px;
}

.profile-name{
	text-align: center;
	font-family: 'Indie Flower', cursive;
	font-size: 90%;
   
}
.profile-id:after {
    content: "";
    display: table;
    clear: both;
}

/* main styling */
main{
	padding: 0;
}
h2{
	font-size: 200%;
	font-family: 'Indie Flower', cursive;
}

.education {
    background: linear-gradient(rgba(141, 153, 174, 0.8), rgba(141, 153, 174, 0.5)),
    url(../images/nyc.jpg) no-repeat fixed;
    background-size: cover; 	  
 
}
/* footer styling */
footer a{
    color: #ffffff;
}
#contact{
	 color: #ffffff;
	text-align: center;
    background: #2B2D42;
    overflow: hidden;
}
.contact-info a {
  padding: 10px;
  display: inline-block;
}
.contact-info .copyright{
	width: 50%;
	float: left;
}
.copyright{
	width: 50%;
	float: right;
}
/* sidebar styling*/
/* The sidebar menu */
.sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}


/* The sidebar links */
.sidebar a {
  color: #ffffff;
  border: 1px solid black;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 5px;
  font-size: 36px;
  margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main 
#footer {
  transition: margin-left .9s; 
  padding: 5px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}